<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>874664952450-voa8e0tic5oendue65ab85sddvok3vqg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.874664952450-voa8e0tic5oendue65ab85sddvok3vqg</string>
	<key>API_KEY</key>
	<string>AIzaSyDFc4-Np2ceh65l9VLSyRcuV-XsX7CHGkg</string>
	<key>GCM_SENDER_ID</key>
	<string>874664952450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rw.firebase.gettingstarted</string>
	<key>PROJECT_ID</key>
	<string>grocr-2f3cf</string>
	<key>STORAGE_BUCKET</key>
	<string>grocr-2f3cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874664952450:ios:2483345c86151b5d866a9b</string>
	<key>DATABASE_URL</key>
	<string>https://grocr-2f3cf.firebaseio.com</string>
</dict>
</plist>